---
{{- if .Values.clickhouse.enabled }}
{{- if .Values.clickhouse.users.admin.enabled }}
{{- if not .Values.clickhouse.users.admin.existingSecret }}
{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clickhouse.adminSecretName" . }}
  namespace: {{ include "clickhouse.namespace" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
type: Opaque
data:
  {{ include "clickhouse.adminSecretKey" . }}: >-
    {{ if .Values.security.generateRandomPassword }}
    {{- randAlphaNum .Values.security.passwordLength | b64enc }}
    {{- else }}
    {{- .Values.clickhouse.users.admin.password | b64enc }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
---
{{- if .Values.clickhouse.enabled }}
{{- if .Values.clickhouse.users.default.enabled }}
{{- if .Values.clickhouse.users.default.password }}
{{- if not .Values.clickhouse.users.default.existingSecret }}
{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clickhouse.defaultSecretName" . }}
  namespace: {{ include "clickhouse.namespace" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
type: Opaque
data:
  {{ include "clickhouse.defaultSecretKey" . }}: >-
    {{ if .Values.security.generateRandomPassword }}
    {{- randAlphaNum .Values.security.passwordLength | b64enc }}
    {{- else }}
    {{- .Values.clickhouse.users.default.password | b64enc }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
---
{{- if .Values.clickhouse.enabled }}
{{- if .Values.clickhouse.users.app.enabled }}
{{- if not .Values.clickhouse.users.app.existingSecret }}
{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clickhouse.appSecretName" . }}
  namespace: {{ include "clickhouse.namespace" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
type: Opaque
data:
  {{ include "clickhouse.appSecretKey" . }}: >-
    {{ if .Values.security.generateRandomPassword }}
    {{- randAlphaNum .Values.security.passwordLength | b64enc }}
    {{- else }}
    {{- .Values.clickhouse.users.app.password | b64enc }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
---
{{- if .Values.clickhouse.enabled }}
{{- if .Values.clickhouse.users.otelcollector.enabled }}
{{- if not .Values.clickhouse.users.otelcollector.existingSecret }}
{{- if not .Values.externalSecrets.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clickhouse.otelcollectorSecretName" . }}
  namespace: {{ include "clickhouse.namespace" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
type: Opaque
data:
  {{ include "clickhouse.otelcollectorSecretKey" . }}: >-
    {{ if .Values.security.generateRandomPassword }}
    {{- randAlphaNum .Values.security.passwordLength | b64enc }}
    {{- else }}
    {{- .Values.clickhouse.users.otelcollector.password | b64enc }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}